<html>
  <body>
    <div>
      <h2>User Settings</h2>
      <p>Current User: <input type="text" id="usernameTextField"></input></p>
      <button onClick="updateSettings()">Save settings</button>
    </div>
    <div>
      <h2>Build information</h2>
      <p> Version: <code id="versionNumber">This is code</code></p>
      <p> Build: <code id="buildNumber"></code></p>
      <p> Last updated: <code id="lastUpdated"></code></p>
    </div>


    <script>
      require('ipc').on('settingsData', function(message) {
        console.log(message);
        document.getElementById("usernameTextField").value = message.username;
        document.getElementById("versionNumber").innerHTML = message.version;
        var lastUpdated = new Date(message.lastUpdate);     
        document.getElementById("lastUpdated").innerHTML = lastUpdated.toLocaleString("en-US");
      });

      var updateSettings = function() {
        alert('We will now fetch the streamers that ' + document.getElementById("usernameTextField").value + ' follows! Please give us a few seconds to get the data...');
        require('ipc').send('saveSettings', document.getElementById("usernameTextField").value);
      };
    </script>
  </body>
</html>
