<html>
  <body style="background: url('../img/setup_bg.jpg')">
    <div style="text-align: center; margins: 0 auto;">
      <h1 style="color: #fff">Hello, what's your Twitch.tv name?</h1>
      <input type="text" id="usernameTextField" style="border:0; background: transparent; border-bottom:solid 1px #fff; outline: none; color: #fff" onkeypress="updateSettings(event)"></input>
      <p class="error" id="errorField"></p>
    </div>

    <script>
      var updateSettings = function(e) {
        if (e.keyCode == 13) {
          require('ipc').send('saveSetup', document.getElementById("usernameTextField").value);
        }
      };

      require('ipc').on('error', function(errorMessage) {
        document.getElementById("usernameTextField").value = '';      
        document.getElementById("errorField").innerHTML = errorMessage;
      });      
    </script>
  </body>
</html>
